.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-inverse {
     background: #b991a4;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: #b991a4;
}

.nav .dropdown .dropdown-menu> li> a:hover {
    background: #c8a7b7;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.nav .dropdown .dropdown-menu > li > a,
.nav .dropdown .dropdown-menu {
  background-color: #c49ab0;
  color: #fff;
}


.flat-btn {
  background: #ffffff;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #7986CB;
  font-size: 16px;
  padding: 7px 20px 7px 20px;
  border: solid #7986CB 2px;
}

.flat-btn:hover {
  background: #ebebeb;
}

#carouselButtons {
  right:0px;
  position: absolute;
  bottom: 0px;
}
