<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app">Home</a></li>
                    <li><a ui-sref="app.aboutus">About</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a ui-sref="app.contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>Current Address</h5>
                <address>
              University of Virginia</br>
              Charlottesville<br>
              VA, USA, 22903<br>
              Email: <a href="mailto:tianshu.zhou@hotmail.com">tianshu.zhou@hotmail.com</a>
           </address>
            </div>
            <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                <div>
                  <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/tianshu.zhou.98"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/tianshu-zhou-17531a10a"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/philjones1990?lang=en"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="https://github.com/sean-tll"><i class="fa fa-github"></i></a>
                    <a class="btn btn-social-icon" href="mailto:tianshu.zhou@hotmail.com"><i class="fa fa-envelope-o"></i></a>
                  </div>
                </div>
                <dic class="col-xs-4 col-sm-0"></div>
            </div>
            <div class="col-xs-12">
                <p align=center>© Copyright 2016 Lulu Tong &#38; Tianshu Zhou</p>
            </div>
        </div>
    </div>
</footer>
